BODY {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
}

A {
    font-weight:bold;
} 

.header {
    color: #000000;
    background-color: #A8FF93;
    padding: 0px;
    padding-left: 70px;
    margin-right: 90px;
    font-size: 12px;
    font-weight: bold;
    height:37px;
    padding-top: 23px;
}

.header A {
    text-decoration: none;
    color: #000000;
}

.logo {
    float: right;
}

.links {
    margin-left: 70px;
    padding-top: 0px;
}

.links A {
    font-weight: normal;
}

.links .bold A {
    font-weight: bold;
}

.content {
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 40px;
}

.footer {
    float: right;
}
